#This file should be moved to the /etc/systemd/system/ directory
[Unit]
Description=Gunicorn instance for a flask app
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/TECHY-PHRASES
ExecStart=/home/ubuntu/TECHY-PHRASES/venv/bin/gunicorn -b localhost:8000 main:app
Restart=always
[Install]
WantedBy=multi-user.target

